$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;
$title-color: #000000;
$card-title-color:#222222;
$base-color-text: #444444;
$base-color-text-grey: rgba(68, 68, 68, 1);
$bg-basic-green: #68b738;
$bg-basic-grey: #d9d9d9;
