/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/button.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logotype.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/programs-list.scss";
@import "./blocks/work-description.scss";
@import "./blocks/work-description-list.scss";
@import "./blocks/example.scss";
@import "./blocks/parametres-list.scss";
@import "./blocks/example-image.scss";
@import "./blocks/slider.scss";
@import "./blocks/office-location-map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/socials-list.scss";
@import "./blocks/developer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/catalog-extra-products.scss";
@import "./blocks/catalog-extra-products-list.scss";
@import "./blocks/description.scss";
@import "./blocks/offer.scss";
@import "./blocks/subscribe-form.scss";
@import "./blocks/form.scss";
