.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    flex-flow: column nowrap;
    justify-content: stretch;
    min-height: 511px;
    width: 324px;
    border-bottom: none;
    background-image: linear-gradient(to bottom, #ffffff 16%, #ffffff 16%, #f2f2f2 16%);
    box-sizing: border-box;
    align-items: center;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
    width: 245px;
    flex-wrap: nowrap;
  }
}


.card:first-child {
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border-top: 0;
  }
}

.card--show-more {
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    display: inherit;
    margin: 25px auto 23px;
    mask-image: url("../../icons/stack.svg#card-plus");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: #d3d3d3;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #f2f2f2;
    height: 430px;
    padding-top: 50px;
    max-height: 324px;
    margin-top: 96px;
  }
}

.card__link-image {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
    width: 169px;
  }
}

.card__title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $card-title-color;
  text-transform: uppercase;
  max-width: 80px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0 auto;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 135px;
  }
}


.card__title--more {
  max-width: 204px;
}


.card__info-wrapper {
  width: 140px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
  }
}

.card__table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
  }
}

.card__table-body {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.card__table-row {
  display: flex;
  justify-content: space-between;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
  margin: 0;

  &:last-child {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #d3d3d3;
  }
}

.card__button {
  margin: 0;
  margin-bottom: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.card__button--secondary {
  background-color: rgba(242, 242, 242, 1);
  color: $base-color-text-grey;
}

.card__button--secondary:hover,
.card__button--secondary:active {
  background-color: #ebebeb;
}
