.catalog-extra-products-list {
  list-style-type: none;
  min-width: 280px;
  margin: 0;
  padding: 0 0 34px;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    padding: 0;
    margin-bottom: 68px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    width: 896px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

.catalog-extra-products-list__item {

  flex-direction: column;
  display: flex;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    padding: 25px 37px 10px;
  }

  @media (min-width: $desktop-width) {
    justify-content: stretch;
    padding: 16px 0 15px;
  }
}

.catalog-extra-products-list__item:last-child {
  border: none;
}

.catalog-extra-products-list__title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 161px;
    margin: 0 auto 0 0;
    margin-bottom: 10px;
    max-width: 1220px;
  }
}

.catalog-extra-products-list__button {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 19px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 632px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    min-width: 244px;
    padding: 10px 91px;
  }
}
