.catalog {
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 70px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 66px;
  }
}

.catalog__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $title-color;
  margin-top: 28px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding: 73px 0 84px;
    margin: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    row-gap: 56px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    row-gap: 63px;
    width: 1220px;
    margin: 0;
  }
}
