.catalog-extra-products-list {
  list-style-type: none;
  min-width: 280px;
  margin: 0;
  padding: 0 0 35px;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    padding: 0;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    width: 896px;
    margin: 0;
  }
}

.catalog-extra-products-list__item {

  flex-direction: column;
  padding: 13px 0 18px;
  display: flex;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    padding: 26px 47px 28px;
  }

  @media (min-width: $desktop-width) {
    justify-content: stretch;
    padding: 15px 0;
    gap: 40px;
  }
}

.catalog-extra-products-list__item:last-child {
  border: none;
}

.catalog-extra-products-list__title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 161px;
    margin: 0 25px 0 0;
  }
}

.catalog-extra-products-list__button {
  margin: 0;
  margin-top: 15px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 234px;
    margin-top: 0;
  }
}
