.catalog-extra-products {
  padding: 0 20px;
}

.catalog-extra-products__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 110px 0 109px;
    width: 1440px;
    margin: 0 auto;
  }
}


.catalog-extra-products__title {
  font-family: $primary-font;
  color: $title-color;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
  position: relative;
  background-color: #ffffff;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 40px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    font-size: 40px;
    line-height: 40px;
  }
}

.catalog-extra-products__title::before {
  content: "";
  z-index: -1;
  background-color: $bg-basic-green;
  width: 100vw;
  height: 2px;
  position: absolute;
  top: 35%;
  right: 0;
  box-shadow: 100vw 0 $bg-basic-green;

  @media (min-width: $tablet-width) {
    content: "";
    z-index: -1;
    background-color: $bg-basic-green;
    width: 100vw;
    height: 2px;
    display: block;
    position: absolute;
    left: -50vw;
    transform: translateY(18px);
    box-shadow: 100vw 0 $bg-basic-green;
  }
}
