.developer {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    gap: 23px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.developer__icon::after {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#logo-html-academy");
  mask-repeat: no-repeat;
  mask-position: center;
}

.developer__icon:hover::after {
  background-color: $bg-basic-green;
}

.developer__icon:focus-visible::after {
  background-color: $bg-basic-green;
}

.developer__icon:active::after {
  opacity: 0.3;
}
