.example {
  background-color: #f2f2f2;
  padding: 0 20px;
  padding-bottom: 35px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 101px;

    background-color: #ffffff;

    background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
  }

  @media (min-width: $desktop-width) {

    background-color: #ffffff;

    background-image: (linear-gradient #ffffff 30%, #f2f2f2 30%);
    padding: 0;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 560px;
    gap: 224px;
    width: 1440px;
    padding: 0 110px 75px;
    position: relative;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    margin-top: 70px;
  }
}

.example__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
  padding: 25px 85px 40px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 18px;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    padding: 0;
  }
}

.example__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text-grey;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.example__parametres {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    gap: 60px;
    margin: 0;
  }
}


.example__parametres-list {
  margin: 0;
}

.example__parametres-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
    font-size: 20px;
    line-height: 20px;
    margin-top: -12px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 66px;
    display: flex;
  }
}

.example__parametres-price--value {
  margin: 0;
  color: $title-color;
  text-transform: uppercase;
}


.example__parametres-price--definition {
  margin: 0;
  color: $title-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {


    font-size: 20px;
    line-height: 20px;
    color: $title-color;
  }

  @media (min-width: 1440px) {

    font-size: 20px;
    line-height: 20px;
    color: $title-color;
  }
}
