.example {
  background-color: $bg-basic-gray;
}

.example__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
  background-color: #ffffff;
}

.example__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text-gray;
}
