.form__input {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $base-color-text;
  padding: 13px;
  margin-bottom: 16px;
  border: 1px solid #cdcdcd;
  min-width: 280px;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-width: 2px;
    border-color: #444444;
  }

  @media (min-width: $tablet-width) {
    min-width: 376px;
  }
}

.form__button {
  font-size: 20px;
  line-height: 26px;
  padding: 15px;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 256px;
  }
}
