.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 632px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 752px;
  }
}

.form__input {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $base-color-text;
  padding: 13px;
  border: 1px solid #cdcdcd;
  min-width: 280px;
  margin-bottom: 24px;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-width: 2px;
    border-color: #444444;
  }

  @media (min-width: $tablet-width) {
    min-width: 376px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 496px;
    margin-bottom: 0;
  }
}

.form__button {
  font-size: 20px;
  line-height: 26px;
  padding: 15px;
  margin: 0;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 256px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
