.hero {
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, #ffffff 302px),
    image-set(
      url("../../images/hero-background-desktop@2x.png") 2x type("image/png"),
      url("../../images/hero-background-mobile@1x.png") 1x type("image/png"));
  background-position: 50% 0, 50% 0;
  background-repeat: no-repeat;
  background-size: cover, auto 302px;
}

.hero__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  padding: 27px 35px 25px 24px;
  margin: 0;
}

.hero__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding: 0 27px 29px 40px;
}
