.hero {
  background-color: $bg-basic-green;
}

.hero__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.hero__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
