.hero::before {
  @media (min-width: $desktop-width) {

    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85) 50%),
      image-set(
        url("../../images/hero-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/hero-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/hero-background-desktop@2x.jpg") 2x,
        url("../../images/hero-background-desktop@1x.jpg") 1x),
      linear-gradient (#403e41,
        #403e41 50%);
    background-position: center, 0 0, center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $bg-basic-green;
    min-height: 694px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: -1;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 60%, #ffffff 60%),
    image-set(
      url("../../images/hero-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/hero-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/hero-background-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../images/hero-background-mobile@1x.jpg") type("image/jpg") 1x
    ),
    linear-gradient(90deg, #4e4e53, #434247 50%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top center;
  background-size: auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    padding-top: 65px;
    padding-left: 30px;
    padding-right: 29px;
    background-image: none;
    max-width: 920px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 225px 1fr 1fr 1fr;
    padding: 29px 0 52px;
    max-width: 1220px;
  }
}

.hero__title {
  margin: 0 0 25px;
  font-size: 36px;
  font-weight: 400;
  font-family: $primary-font;
  color: #ffffff;
  line-height: 36px;
  text-align: center;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: 0 0 40px 90px;
    font-size: 60px;
    line-height: 60px;
    color: $title-color;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 65px 0 10px 80px;
  }
}

.hero__description {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: $primary-font;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0 0 21px 90px;
    font-size: 20px;
    line-height: 20px;
    color: $title-color;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 80px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto 3px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/5;
    grid-row: 1/7;
  }
}

.hero picture {
  @media (min-width: $tablet-width) {
    display: contents;
    margin: 0;
    padding: 0;
  }
}

.hero__button {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  max-width: 400px;
  color: #ffffff;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 3/4;
    align-self: start;
    margin-left: 90px;
    margin-top: 29px;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    min-height: 54px;
    padding: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-top: 38px;
  }
}

