.logotype {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-top: 13px;
  padding-left: 20px;
  margin: 0;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 30px;
  }


  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 25px;
    padding-left: 0;
  }
}

.logotype__text-logo {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}


.logotype__graphic-logo,
.logotype__text-logo {
  display: block;
}
