.main-footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: normal;
  gap: 20px;
  padding: 40px 20px;
  min-width: 320px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    flex-direction: row;
  }
}

.main-footer__logotype {
  align-self: center;
}


.main-footer__logotype-link {
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__logotype-text-logo {
  display: block;
}
