.main-nav {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 50%;
  }
}


.main-navigation__list {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
}
