.main-container__hero {
  margin-bottom: 20px;
}

.main-container__programs {
  width: 100%;
  margin: 0 auto 20px;
}

.main-container__work-description {
  width: 100%;
  margin: 0 auto 49px;
}

.main-container__catalog-extra-products {
  width: 100%;
  margin: 0 auto;
}

.main-container__subscribe-form {
  padding: 40px 20px;
}
