.page__body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  color: $base-color-text;
  min-width: 320px;
  margin: 0 auto;
}


.page__body--index::before {
  @media (min-width: $desktop-width) {
    content: "";
    background-image:
      linear-gradient(to right,
      #ffffff 50vw,
      rgba(104, 183, 56, 0.85) 50vw),
      image-set(
        url("../../images/hero-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/hero-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/hero-background-desktop@2x.jpg") type("image/jpg") 2x,
        url("../../images/hero-background-desktop@1x.jpg") type("image/jpg") 1x
      ),
      linear-gradient(to right, #ffffff 50%, #403e41 50vw);
    background-position: right;
    background-size: cover, contain;
    background-repeat: no-repeat;
    min-height: 694px;
    position: absolute;
    width: 100%;
    display: block;
    z-index: -1;
  }
}

.page__header {
  min-width: 320px;
}
