.parametres-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 34px;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
  }
}

.parametres-list__item {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 72px;
  }
}

.parametres-list__item--value {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.parametres-list__expenses {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
