.programs-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 82px;
    gap: 80px;
  }
}

.programs-list__item {
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  display: grid;
  flex-direction: column;
  position: relative;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 340px;
    padding: 77px 63px 40px 61px;
    width: 708px;
    min-height: 372px;
    background-color: rgba(242, 242, 242, 1);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    width: 570px;
    padding: 86px 61px 55px 52px;
  }
}


.programs-list__item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.programs-list__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  color: $base-color-text-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.programs-list__link {
  font-family: $primary-font;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 12px;
    background-color: #000000;
    mask-image: url("../../icons/stack.svg#icon-right-arrow");
    mask-repeat: no-repeat;
    mask-position: left center;
  }

  &:hover {
    &::after {
      transform: scaleX(1.33);
      transform-origin: left center;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      transform: scaleX(1.33);
      transform-origin: left center;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.programs-list__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $title-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin: 0;
  margin-bottom: 25px;
  margin-left: 70px;
  position: relative;


  @media (min-width: $tablet-width) {
    position: relative;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    margin-left: 162px;
  }
}


.programs-list__item--slim::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background: $bg-basic-green;
  position: absolute;
  top: 23px;
  left: 19px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 93px;
    left: 455px;
  }

  @media (min-width: $desktop-width) {


    width: 100px;
    height: 100px;
    top: 55px;
    left: 52px;
    right: auto;
  }
}

.programs-list__item--slim::after {
  content: "";
  display: block;
  width: 36px;
  height: 50px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#programs-list-icon-slim");
  mask-repeat: no-repeat;
  mask-position: center;
  position: absolute;
  top: 21px;
  left: 27px;


  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 81px;
    right: 83px;
    left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
  }
}

.programs-list__item--pro::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background: $bg-basic-green;
  position: absolute;
  top: 23px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 93px;
    left: 455px;
  }

  @media (min-width: $desktop-width) {


    width: 100px;
    height: 100px;
    top: 55px;
    left: 52px;
    right: auto;
  }
}

.programs-list__item--pro::after {
  content: "";
  display: block;
  width: 67px;
  height: 28px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#programs-list-icon-pro");
  mask-repeat: no-repeat;
  mask-position: center;
  position: absolute;
  top: 35px;
  left: 13px;


  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    right: 19px;
    left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }
}
