.subscribe-form {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 80px 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-bottom: 104px;
  }
}

.subscribe-form__title {
  color: #000000;
  background-color: #ffffff;
  width: fit-content;
  max-width: 85%;
  margin: 0 0 32px;
  font-family: $primary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  box-shadow: -40px 0 #ffffff, 40px 0 #ffffff;


  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 40px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
    margin-bottom: 70px;
    font-size: 40px;
    line-height: 40px;
  }
}


.subscribe-form__title::before {
  content: "";
  z-index: -1;
  background-color: $bg-basic-green;
  width: 100vw;
  height: 2px;
  display: block;
  position: absolute;
  top: 40%;
  left: -50vw;
  box-shadow: 100vw 0 $bg-basic-green;
}


.subscribe-form__description {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    line-height: 32px;
    width: 632px;
    min-width: 0;
    margin: 0 auto 24px;
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
