.work-description-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 100px;
    counter-reset: list 0;
  }
}

.work-description-list__item {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text-grey;
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 249px;
    gap: 31px;
    display: grid;
    font-size: 16px;
    line-height: 24px;
    margin-top: -6px;
  }
}

.work-description-list__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #68b738;


  @media (min-width: $tablet-width) {
    margin-top: 40px;
    width: 80px;
    height: 80px;
  }
}

.work-description-list__item:last-child {
  padding-bottom: 49px;
}

.work-description-list__item--nutrition::before {
  background-image: url("../../icons/stack.svg#work-description-leaf-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;
}

.work-description-list__item--powder::before {
  background-image: url("../../icons/stack.svg#work-description-powder-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 29px;
}

.work-description-list__item--change::before {
  background-image: url("../../icons/stack.svg#work-description-cooking-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
}

.work-description-list__item--result::before {
  background-image: url("../../icons/stack.svg#work-description-clock-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 31px;
}

.work-description-list__item::after {
  @media (min-width: $tablet-width) {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    font-family: $primary-font;
    color: #f2f2f2;
    z-index: -1;
    left: 114px;
    top: 0;
  }
}
