.work-description {
  padding: 0 20px;
}

.work-description__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
  margin-bottom: 40px;
}
